<%= render "dashboard/#{current_user.role.downcase}/header" %>
<div class="container">
  <!-- ================================================== -->
  <div class="page-header">
    <h2 class="text-center">Заказ №<%= @order.id%>
      <% if can? :manage, @order %>
        <%= link_to '', edit_order_path(@order), 
              class: 'glyphicon glyphicon-edit', title: 'Редактировать' %>
        <%= link_to 'Завершить заказ', change_status_order_path(@order, :finished), class: "btn btn-info" %>
      <% end %>
    </h2>
  </div>
  <!-- ================================================== -->
  <div class="panel panel-default">
    <div class="panel-body">
      <% client = @order.client; employee = @order.employee; manager = @order.manager %>
      <% if client %>
        <% if can? :read, client %>
          <%= render partial: 'dashboard/contacts', locals: {user: client, klass: ''} %>
        <% end %>
      <% end %>
      <% if employee %>
        <% if can? :read, employee %>
          <%= render partial: 'dashboard/contacts', locals: {user: employee, klass: 'pull-right'} %>
        <% end %>
      <% end %>
      <% if manager %>
        <% if current_user.role != "Manager" %>
          <%= render partial: 'dashboard/contacts', locals: {user: manager, klass: ''} %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- ================================================== -->
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- ================================================== -->
          <div>
            <button type="button" class="btn btn-success pull-left"><%= @order.display_status %></button>
            <button type="button" class="btn btn-primary pull-right">Поиск исполнителя</button>
          </div>
          <div class="clearfix"></div>

         <!-- <form method="post" action="/notes">
            <div class="form-group">
              <label for="note">Заметки</label>
              <textarea class="form-control" rows="3" id="note"></textarea>
            </div>
            <div class="form-group">
              <label for="note_author">Заметки для автора</label>
              <textarea class="form-control" rows="3" id="note_author"></textarea>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
          </form>-->
              <h3>Примечания (по всему заказу)</h3>
              <%= form_tag("/notes", method: "post" ) do %>
                  <%= hidden_field_tag :current_order , @order.id %>
                  <%= hidden_field_tag :employee_id , @order.employee.id %>
                  <% if can? :manage, Note %>
                    <div class="form-group">
                      <%= label_tag(:note, "Заметки") %>
                      <% if @note.nil? %>
                        <%= text_area_tag(:note, class: "form-control", rows: "3") %>
                      <% else %>
                        <%= text_area_tag(:note, @note.content, class: "form-control", rows: "3") %>
                      <% end %>
                    </div>
                  <% end %>
                  <% if can? :read, Commentary %>
                     <div class="form-group">
                     <%= label_tag(:note_author, "Заметки для автора") %>
                     <% if @commentary.nil? %>
                       <%= text_area_tag(:commentary, id: "note_author", class: "form-control", rows: "3") %>
                     <% else %>
                       <%= text_area_tag(:commentary, @commentary.content, id: "note_author", class: "form-control", rows: "3") %>
                     <% end %>
                     </div>
                  <% end %>
                  <% if can? :manage, Note %>
                    <%= submit_tag("Сохранить", class: "btn btn-default") %>
                  <% end %>
              <% end %>


          <!-- ================================================== -->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% if can? :upload, Part %>
              <% if @order.parts %>
                <% @order.parts.each do |part| %>
                  <%= render partial: 'parts/form', locals: { part: part } %>
                <% end %>
              <% end %>
            <% elsif can? :read, Part %>
              <% @order.parts.approved.each do |part| %>
                <%= render partial: 'parts/show', locals: { part: part } %>
              <% end %>
            <% end %>
            <% if can? :create, Part %>
              <%= render partial: 'parts/form', locals: { part: Part.new } %>
            <% end %>
          </div>
          <!-- panel-group -->
          <!--<button type="button" class="btn btn-primary btn-lg btn-block">Добавить часть</button>-->
          <div class="clearfix"></div>
          <!--<br/>-->
          <!-- ================================================== -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Доработки</h3>
            </div>
            <div class="panel-body">
              <form>
                <div class="well">
                  <p class="text-primary"><a href="#">file_name.doc</a></p>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-5">
                        <label for="moderation" class="control-label">Модерация</label>
                      </div>
                      <div class="col-xs-7">
                        <select class="form-control" id="moderation">
                          <option>Одобрено</option>
                          <option>В топку</option>
                          <option>Сойдет</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Новая доработка</button>
                <br/>
                <div class="well">
                  <div class="form-group">
                    <label for="" class="control-label">Прикрепить файл</label>
                    <input type="file" id="">
                  </div>
                  <div class="form-group">
                    <label for="" class=" control-label">Комментарий</label>
                    <textarea class="form-control" rows="3" id=""></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Добавить доработку</button>
                </div>
              </form>
            </div>
          </div>
          <!-- ================================================== -->
          <div class="panel panel-default">
            <div class="panel-body">
              <form>
                <p class="text-muted text-uppercase text-center"><strong>Перетащите файлы сюда</strong></p>
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="file" id="new_part_file">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- ================================================== -->
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <% if can? :manage, @order %>
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- ================================================== -->
            <%= form_for(@order) do |f| %>
              <div>
                <p class="pull-left">Сроки выполнения</p>
                <%= f.button "Сохранить", class: 'btn btn-primary pull-right' %>
              </div>
              <div class="clearfix"></div>
              <br/>
              <div class="row">
                <div class="form-group col-lg-4">
                  <%= f.label :deadline %>
                  <%= f.date_select :deadline %>
                </div>
                <div class="form-group col-lg-4">
                  <%= f.label :inform_date %>
                  <%= f.datetime_select :inform_date %>
                </div>
                <div class="form-group col-lg-4">
                  <%= f.label :employee_deadline %>
                  <%= f.datetime_select :employee_deadline %>
                </div>
              </div>
            <% end %>
            <!-- ================================================== -->
          </div>
          <!-- panel-body -->
        </div>
      <% end %>
      <!-- panel panel-default -->
      <!-- ================================================== -->
      <%= render 'messages/index' %>
      <!-- panel -->
      <!-- ================================================== -->
      <%= render 'messages/form' %>
      <!-- panel -->
      <!-- ================================================== -->
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Оплаты</h3>
          <form>
            <table class="table table-striped">
              <tr>
                <td>Стоимость проекта</td>
                <td><input type="number"></td>
                <td>Стоимость для автора</td>
                <td><input type="number"></td>
              </tr>
              <tr>
                <td>Получено от клиента</td>
                <td><strong>1 000 000</strong></td>
                <td>Оплачено работы</td>
                <td></td>
              </tr>
              <tr>
                <td>Выписать счет</td>
                <td><input type="number"></td>
                <td>Оптравить на оплату</td>
                <td><input type="number"></td>
              </tr>
              <tr>
                <td>Стоит на оплате</td>
                <td>1000</td>
                <td>Суммарно на оплату</td>
                <td>0</td>
              </tr>
            </table>
            <div class="row">
              <div class="col-sm-7 col-xs-12">
                <p>Подтвердить платеж</p>
                <button type="button" class="btn btn-default">Подтвердить</button>
                <button type="button" class="btn btn-default">Отмена</button>
                <button type="button" class="btn btn-info">Чек 1</button>
              </div>
              <div class="col-sm-5 col-xs-12">
                <button type="submit" class="btn btn-primary pull-right">Сохранить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- ================================================== -->
    </div>
    <!-- col-lg-8 -->
  </div>
  <!-- row -->
  <!-- ================================================== -->
  <button class="btn btn-default btn-block btn-lg" type="button" data-toggle="collapse" data-target="#order_info" aria-expanded="false" aria-controls="order_info">
    Информация о заказе <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
  </button>
  <div class="collapse" id="order_info">
    <div class="well">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12">
          <form>
            <div class="form-group">
              <label for="">Специальность</label>
              <select class="form-control">
                <option>Программирование</option>
                <option>Нанотехнологии</option>
                <option>Контроль разума</option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Наименование</label>
              <input type="test" class="form-control" id="" placeholder="Наименование">
            </div>
            <div class="form-group">
              <label for="">Содержание</label>
              <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label for="">Дополнительные требования или рекомендации</label>
              <textarea class="form-control" rows="5"></textarea>
            </div>
            <p>Сроки выполнения</p>
            <table class="table table-striped">
              <tr>
                <th>Наименование</th>
                <th>Дата/время</th>
              </tr>
              <tr>
                <td>Дата оформления</td>
                <td><input type="datetime-local"></td>
              </tr>
            </table>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <!-- ================================================== -->
</div>
<!-- container -->
