<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(Message.new) do |f| %>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="form-group">
            <%= f.label :content %><br />
            <%= f.text_area :content, required: true, class: 'form-control', 
                 placeholder: 'Текст сообщения', rows: 5 %>
          </div>
          <%= f.hidden_field :order_id, value: @order.id %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <p>Отправить сообщение</p>
          <% if ['Admin', 'Manager'].include? current_user.role %>
            <%= f.submit "Отправить заказчику", class: 'btn btn-primary btn-block', name: "receiver[#{@order.client_id}]" if @order.client_id %>
            <%= f.submit "Отправить автору", class: 'btn btn-warning btn-block', name: "receiver[#{@order.employee_id}]" if @order.employee_id %>
          <% elsif current_user.role == 'Client' %>
            <%= f.submit "Отправить менеджеру", class: 'btn btn-primary btn-block', name: "receiver[#{@order.manager_id}]" if @order.manager_id %>
            <%= f.submit "Отправить автору", class: 'btn btn-warning btn-block', name: "receiver[#{@order.employee_id}]" if @order.employee_id %>
          <% elsif current_user.role == 'Employee' %>
            <%= f.submit "Отправить менеджеру", class: 'btn btn-primary btn-block', name: "receiver[#{@order.manager_id}]" if @order.manager_id %>
            <%= f.submit "Отправить заказчику", class: 'btn btn-warning btn-block', name: "receiver[#{@order.client_id}]" if @order.client_id %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
