<div class="well well-sm">
  <div class="media">
    <div class="media-left media-middle">
      <% klass = message.sender.glyphicon %>
      <% if message.sender.role == 'Employee' and can? :manage, @order %>
        <% if @order.employee.nil? %>
          <%= link_to '', set_employee_order_path(@order, message.sender), 
              class: "glyphicon #{message.sender.glyphicon}", title: 'Назанчить', data: { confirm: "Назначить #{ message.sender.name } исполнителем" } %>
        <% elsif message.sender.id == @order.employee_id %>
          <%= link_to '', unset_employee_order_path(@order, message.sender), 
              class: "glyphicon #{message.sender.glyphicon} #{message.sender.text_style}",
               title: 'Снять', data: { confirm: "Снять #{ message.sender.name } с заказа" } %>
        <% else %>
          <span class="glyphicon <%= message.sender.glyphicon %>" aria-hidden="true"></span>
        <% end %>
      <% else %>
        <span class="glyphicon <%= message.sender.glyphicon %>" aria-hidden="true"></span>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <% if current_user.id == message.sender.id %>
          <span class="text-danger">Я </span>
        <% elsif can? :read, Client %>
          <span class="<%= message.sender.text_style %>"><%= message.sender.name %> </span>
        <% else %>
          <span class="<%= message.sender.text_style %>"><%= message.sender.role %> </span>
        <% end %>
        <span class="text-muted glyphicon glyphicon-hand-right" aria-hidden="true"></span>
        <% if current_user.id == message.receiver.id %>
          <span class="text-danger">мне </span>
        <% elsif can? :read, Client %>
          <span class="<%= message.receiver.text_style %>"><%= message.receiver.name %> </span>
        <% else %>
          <span class="<%= message.receiver.text_style %>"><%= message.receiver.role %> </span>
        <% end %>
        | <span class="text-muted"><%= message.created_at.strftime("%d.%m.%Y %H:%M") %> </span>
      </h4>
      <% css_class = "text-muted" unless message.approved? %>
      <p class="<%= css_class %>" >
        <%= message.content %></p>
    </div>
    <% if can? :manage, message %>
      <div class="media-right">
        <% unless message.approved? %>
          <%= link_to '', approve_order_message_path(@order, message), 
              class: 'glyphicon glyphicon-ok', title: 'Одобрить' %>
        <% end %>
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true" title="Переслать"></span>
        <%= link_to '', message, class: 'glyphicon glyphicon-remove', 
            title: 'Одобрить', method: :delete, data: { confirm: 'Вы уверены?' } %>
      </div>
    <% end %>
  </div>
</div>
