<div class="form-group">
  <%= f.label :name %><br />
  <%= f.text_field :name, required: true, class: 'form-control', placeholder: 'ФИО' %>
</div>
<div class="form-group">
  <%= f.label :phone %><br />
  <%= f.text_field :phone, required: true, class: 'form-control', placeholder: 'Контактный телефон' %>
</div>
<div class="form-group">
  <%= f.label :skype %><br />
  <%= f.text_field :skype, class: 'form-control', placeholder: 'Skype' %>
</div>
<div class="form-group">
  <%= f.label :speciality_id %><br />
  <%= f.collection_select :speciality_id, Speciality.all, :id, :name, { prompt: 'Выберите специализацию'}, { required: true, class: 'form-control' } %>
</div>
