<div role="tabpanel" class="tab-pane <%= klass %>" id="<%= role %>">
  <h2 class="text-center">All <%= role %></h2>
  <p class="text-right"><%= page_entries_info(users) %></p>
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th>Имя</th>
        <th>Электронная почта</th>
        <th>Телефон</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <nav>
    <%= will_paginate users, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails, params: {role: role} %>
  </nav>
</div>
