<%= render 'dashboard/admin/header' %>
<p id="notice"><%= notice %></p>
<br>
<div class="container">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info">
        <%= link_to 'Новый', new_user_path %>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info">
        <%= link_to 'Управление пользователями', manage_users_path %>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info"><a href="#">Настройка полей</a></button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info">
        <%= link_to 'Список пользователей', users_path %>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info"><a href="#">Права пользователей</a></button>
    </div>
  </div>
</div>
<br/>
<!-- ================================================== -->
<div class="container">
  <div class="page-header">
    <h1 class="text-center">Управление пользователями</h1>
  </div>
  <!-- ================================================== -->
  <p class="text-right"><%= page_entries_info(@users) %></p>
  <table class="table table-hover">
    <tr class="info">
      <th>id</th>
      <!--<th>Логин</th>-->
      <th>Имя</th>
      <th>Электронная почта</th>
      <th>Дата регистрации</th>
      <th>Последний визит</th>
      <th>Супер пользователь</th>
      <th>Статус</th>
      <th></th>
    </tr>
    <!--
    <tr class="warning">
      <td><input type="text" id=""></td>
      <td><input type="text" id=""></td>
      <td><input type="text" id=""></td>
      <td><input type="datetime-local" id=""></td>
      <td><input type="datetime-local" id=""></td>
      <td>
        <select class="form-control">
          <option>Да</option>
          <option>Нет</option>
        </select>
      </td>
      <td>
        <select class="form-control">
          <option>Активирован</option>
          <option>Не активирован</option>
        </select>
      </td>
      <td></td>
    -->
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.strftime("%d.%m.%Y %H:%M") %></td>
      <td><%= user.last_sign_in_at.strftime("%d.%m.%Y %H:%M") if user.last_sign_in_at %></td>
      <td><%= user.role == 'Admin' ? 'Да' : 'Нет' %></td>
      <td><%= user.activated ? 'Активирован' : 'Не активирован' %></td>
      <td>
        <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
        <%= link_to '', edit_user_path(user), class: 'glyphicon glyphicon-edit', title: 'Редактровать' %>
        <%= link_to '', user_path(user), method: :delete, class: 'glyphicon glyphicon-remove', title: 'Удалить', data: { confirm: "Вы уверены?"} %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @users, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>
<!-- ================================================== -->
</div>
<!-- container -->
