<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Welcome</h1>
  <% if user_signed_in? %>
    <%= link_to('Выйти', destroy_user_session_path, :method => :delete) %>
    <% if current_user.role = "Admin" %>
      <br>
      <%= link_to('Пользователи', users_path) %>
    <% end %>
    <br>
  <% else %>
    <%= link_to('Войти', new_user_session_path)  %>
    <br>
    <%= link_to('Зарегистрироваться как клиент', new_user_registration_path('client'))  %>
    <br>
    <%= link_to('Зарегистрироваться как исполнитель', new_user_registration_path('employee'))  %>
  <% end %>
  <br>
  <%= form_for(@order, url: welcome_orders_path, method: :post) do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :worktype_id %><br>
      <%= f.collection_select :worktype_id, Worktype.all, :id, :name, { prompt: 'Выберите тип работы'} %>
    </div>
    <div class="field">
      <%= f.label :speciality_id %><br>
      <%= f.collection_select :speciality_id, Speciality.all, :id, :name, { prompt: 'Выберите предмет'} %>
    </div>
    <div class="field">
      <%= f.label :theme %><br>
      <%= f.text_field :theme %>
    </div>
    <div class="field">
      <%= f.label :deadline %><br>
      <%= f.date_select :deadline %>
    </div>
    <div class="field">
      <%= f.label :page_number %><br>
      <%= f.number_field :page_number %>
    </div>
    <% unless current_user %>
      <%= f.fields_for @client do |g| %>
        <div class="field">
          <%= g.label :email %>
          <%= g.text_field :email %>
        </div>
        <div class="field">
          <%= g.label :phone %>
          <%= g.text_field :phone %>
        </div>
      <% end %>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
