<table class="table table-hover">
  <tr class="info">
    <th>Номер заказа</th>
    <th>Наименование</th>
    <% if can? :manage, Order %>
      <th>Дата оформления</th>
      <th>Дата информирования</th>
    <% end %>
    <% if can? :update, Order %>
      <th></th>
    <% end %>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= link_to order.theme, order %></td>
      <% if can? :manage, Order %>
        <td><%= order.created_at.strftime("%d.%m.%Y %H:%M") if order.created_at %></td>
        <td><%= order.inform_date.strftime("%d.%m.%Y %H:%M") if order.inform_date %></td>
      <% end %>
      <% if can? :update, order %>
        <td>
          <%= link_to '', edit_order_path(order), class: 'glyphicon glyphicon-edit', title: 'Редактровать' %>
          <% if can? :manage, order %>
            <%= link_to '', order_path(order), method: :delete, class: 'glyphicon glyphicon-remove', title: 'Удалить', data: { confirm: "Вы уверены?"} %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
